In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
import os

In [9]:
connection_url = "postgresql://root:root@172.19.0.2:5432/covidnineteen"

In [10]:
engine = create_engine(connection_url)

In [11]:
engine.connect()

In [12]:
os.listdir('datafiles')

['country_wise_latest.csv',
 'covid_19_clean_complete.csv',
 'full_grouped.csv',
 'day_wise.csv',
 'worldometer_data.csv',
 'usa_county_wise.csv']

In [13]:
df = pd.read_csv('datafiles/country_wise_latest.csv')

In [14]:
len(df)

187

In [15]:
df.head(n=2)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe

In [16]:
df_iter = pd.read_csv('datafiles/country_wise_latest.csv', chunksize=100000, iterator=True)

In [17]:
df = next(df_iter)

In [18]:
df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [19]:
df.to_sql(name='covid_datatable', con=engine, if_exists='replace')

187